<img class="col-2 img-fluid rounded"  id="item1" src="{{ img_urls[0] }}" onclick="click_item(this)">
<img class="col-2 img-fluid rounded"  id="item2" src="{{ img_urls[1] }}" onclick="click_item(this)">
<img class="col-2 img-fluid rounded"  id="item3" src="{{ img_urls[2] }}" onclick="click_item(this)">
<img class="col-2 img-fluid rounded"  id="item4" src="{{ img_urls[3] }}" onclick="click_item(this)">
<img class="col-2 img-fluid rounded"  id="item5" src="{{ img_urls[4] }}" onclick="click_item(this)">